
.todo-list li:hover > .about{
    display: inline;
}

.about{
    display: none;
    color: rgba(51, 51, 51, 0.48);
}

.label-mark-block{
    /*position: absolute;*/
    /*left: 40%;*/
    display: inline;
}

.label-mark-block span{
    margin: 0 !important;
}

.label-priority-block{
    position: absolute;
    /*left: 50%;*/
    display: inline;
}

.label-priority-block span{
    color: #fff;
    font-weight: bold;
    font-size: 80% !important;
    border-radius: 0px;
    /*padding: .2em .6em .3em;*/
}

.user-detail{
    display: inline;
    /*left: 70%;*/
    position: absolute;

}

@media screen and (max-width: 768px) {
    .label-priority-block{
        left: 42%;
    }
    .user-detail{
        right: 20%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .label-priority-block{
        left: 40%;
    }
    .user-detail{
        left: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .label-priority-block{
        left: 50%;
    }
    .user-detail{
        left: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .label-priority-block{
        left: 50%;
    }
    .user-detail{
        left: 70%;
    }
}
