.task-name{
    margin-left: -15px;
}
.text-task-closed{
    color: #c5c5c5;
}

/*.todo-list li:hover > .about{*/
    /*display: inline;*/
/*}*/

.about{
    display: none;
    margin: 0;
    color: rgba(51, 51, 51, 0.48);
}

.label-mark-block{
    /*position: absolute;*/
    /*left: 40%;*/
    display: inline-block;
}

.label-mark-block span{
    margin: 0 !important;
}

/*.label-priority-block{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*display: inline-block;*/
/*}*/

.label-priority-block span{
    color: #fff;
    font-weight: bold;
    font-size: 80% !important;
    border-radius: 0px;
    /*padding: .2em .6em .3em;*/
}

.user-detail{
    display: inline-block;
    /*left: 70%;*/
    /*position: absolute;*/

}

@media screen and (max-width: 768px) {
    .label-priority-block{
        padding: 0;
    }
    .user-detail{
        padding: 0;
    }
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover{
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

*[data-action="refresh-tasks"]:hover{
    animation: 1000ms linear 0s normal none infinite running pace-spinner;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}