
.modal-block {
  position: relative;
  /*padding: 0 15px 15px 15px;*/
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}

.header-modal-block {
  margin-top: -10px;
  position: relative;
}
.header-modal-block .headline{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 45px;
}

.header-modal-block img {
  width: 40px;
  padding: 5px;
}

.body-modal-block{
  padding: 0 30px;
}

.header-text-task-closed{
  text-decoration: line-through;
}

.header-text-task-closed:hover{
  text-decoration: none;
}

.task-row{
  margin-left: 0px;
  margin-right: 0px;
  border-left: 3px solid #3c8dbc;
}

.task-closed{
  border-left: 3px solid #c5c5c5;
}

.profiler-header img {
  padding: 5px;
  width: 40px;
}
.profiler-body{
  padding: 5px 0 0 0;
}

.profiler-header{
  padding: 0 0 5px 0;
  border-bottom: 1px solid #b5b5b5;
}
.profiler-header .headline{
  padding: 8px 0 0 20px;
}

.modal-container{
  overflow-y: auto;
  max-height: 670px;
}

#modal-confirm {
  text-align: center;
  padding: 0 !important;
}

#modal-confirm:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#modal-confirm .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#modal-confirm .modal-footer{
  text-align: center;
  padding: 5px;
}

#modal-confirm .modal-footer .btn{
  border-radius: 0;
}

.btn-confirm{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.btn-confirm:active{
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd
}

.btn-confirm button{

  margin: -6px 2px !important;
}

.modal-footer button.btn-close{
  padding: 7px 12px;
}
