
.modal-block {
  position: relative;
  /*padding: 0 15px 15px 15px;*/
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}

.header-modal-block {
  margin-top: -10px;
  position: relative;
}
.header-modal-block .headline{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 45px;
}

.header-modal-block img {
  width: 40px;
  padding: 5px;
}

.body-modal-block{
  padding: 0 30px;
}

.header-text-task-closed{
  text-decoration: line-through;
}